html {
    background-color: rgb(97, 176, 119);
    display: flex;
}
section{
    width: 500px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 100px;
}
h1{
    color: rgb(0, 0, 0);
}

p{
    color: rgb(0, 0, 0);
    text-align: left;
}
div img{
    width: 100%;
}
#Sekcija1{
    width: 250px;
}
#Sekcija2{
    width: 250px;
}    
#Sekcija3{
    width: 250px;
}   
#Sekcija4{
    width: 250px;
}   
#Sekcija5{
    width: 250px;
}   



